<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
   <!--<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />-->
  </startup>
  <appSettings>
    <add key="monitoredUri" value="https://to-dolist.documents.azure.com:443/" />
    <add key="monitoredSecretKey" value="9XgxGAlkkplAXQvZo6nMI7OzjVqwS3hqFV9SCERK66NOl6RlNzo14jkgH5bitrBSQOQYZ1IqBvHQbuSoKak6cg==" />
    <add key="monitoredDbName" value="ToDoList" />
    <add key="monitoredCollectionName" value="Items" />
    <add key="monitoredThroughput" value="400" />

    <add key="leaseUri" value="https://to-dolist.documents.azure.com:443/" />
    <add key="leaseSecretKey" value="9XgxGAlkkplAXQvZo6nMI7OzjVqwS3hqFV9SCERK66NOl6RlNzo14jkgH5bitrBSQOQYZ1IqBvHQbuSoKak6cg==" />
    <add key="leaseDbName" value="ToDoList" />
    <add key="leaseCollectionName" value="leases" />
    <add key="leaseThroughput" value="400" />

    <add key="destUri" value="https://to-dolist.documents.azure.com:443/" />
    <add key="destSecretKey" value="9XgxGAlkkplAXQvZo6nMI7OzjVqwS3hqFV9SCERK66NOl6RlNzo14jkgH5bitrBSQOQYZ1IqBvHQbuSoKak6cg==" />
    <add key="destDbName" value="ToDoList" />
    <add key="destCollectionName" value="destColl" />
    <add key="destThroughput" value="400" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.17.0.0" newVersion="1.17.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>